/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__image {
  width: 100%;
}
.header__link {
  font-family: "fantasy", cursive;
}

@media (max-width:768px) {

  .header {
    text-align: center;
  }
}
.center {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.todo-app__item-row {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.todo-app__item-row-wrapper {
  display: flex;
}
.todo-app__todo-list,
.todo-app__completed-list {
  margin:0;
  padding: 0px;
}
.todo-app__todo-item,
.todo-app__todo-list-title,
.todo-app__completed-item,
.todo-app__completed-list-title {
  list-style:none;
}
.todo-app__btn,
.todo-app__input {
  outline:none;
}
.todo-app__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.todo-app__btn:hover {
  color: #3a3a3a;
}
/* Heading */
.todo-app__todo-list-title,
.todo-app__completed-list-title,
.todo-app__item-label-new-item {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.todo-app__input-new-item,
.todo-app__input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.todo-app__input-new-item:focus,
.todo-app__input-text:focus {
  color: #333;
}

/* New Task */
.todo-app__item-label-new-item {
  display: block;
  margin: 0 0 20px;
}
.todo-app__input-new-item {
  width: 318px;
}

/* Task list */
/* li, */
.todo-app__todo-item,
.todo-app__completed-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-app__todo-item > *,
.todo-app__completed-item > * {
  vertical-align: middle;
}

.todo-app__item-checkbox {
  margin: 0 10px;
}
.todo-app__item-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.todo-app__item-label-new-item {
    width: 100%;
}
.todo-app__input .todo-app__item-row {
  width: 226px
}
.todo-app__btn-delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.todo-app__btn-delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.todo-app__completed-list .todo-app__item-label {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
.todo-app__input-text {
  display:none
}

.todo-app__todo-item_mode_edit .todo-app__input-text {
  display:inline-block;
  width:224px
}

.todo-app__todo-item_mode_edit .todo-app__item-label {
  display:none;
}
